[Unit]
Description=IPDR Frontend React App
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/ipdr-frontend
ExecStart=npm run dev
Restart=always

[Install]
WantedBy=multi-user.target
